<section class='form'>
    <form action='' method='get'>
        <h1 class='form_title'>{{ formData.title }}</h1>
        <div class='form_items'>
            {{#each formData.items}}
                <div class='form_item{{#if this.error }} error{{/if}}'>
                    {{> Input type=this.type name=this.name id=this.id label=this.label value=this.value }}
                    <div class='form_error'>Неверный логин</div>
                </div>
            {{/each}}
        </div>
        <div class='form_btns'>
            {{> Button type="submit" label=formData.submit }}
            {{> Link type="#" label=formData.link }}
        </div>
    </form>
</section>
