<main class='page-error'>
    <section class='page-error_content'>
        <h1 class='page-error_title'>{{errorData.errorCode}}</h1>
        <p>{{errorData.title}}</p>
        {{> Link label="Назад к чатам"}}
    </section>
</main>
