<main class='page-error'>
    <section class='page-error_content'>
        <div class='page-error_title'>{{errorData.errorCode}}</div>
        <p>{{errorData.title}}</p>
        {{> Link label="Назад к чатам"}}
    </section>
</main>
