<label class='avatar' for='avatar'>
    <img src='{{#if profileData.avatar}}{{ profileData.avatar }}{{else}}/images/avatar_empty.png{{/if}}' alt='avatar'>
    <input type='file' name='avatar' id='avatar'>
</label>
